#draw{
    font-family: "Permanent Marker";
    color: #c46330;
}

#blue-winner{
    font-family: "Permanent Marker";
    color: #0a76a7;
}

#red-winner{
    font-family: "Permanent Marker";
    color: #e31e25;
}