#game-wrapper {
  background-image: url("../img/desert-background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 2fr 8fr 1fr;
  justify-items: center;
  align-items: center;
}

#boardGame-wrapper {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 80%;
  height: 80%;
}


.gameboard-header{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
 flex-direction: column;
 align-items: center;
  
  
}

.main-board-title {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 4em;
    font-family: "Cartoon";
    color: #c46330;
 
}

.player1-name {
  color: #0a76a7;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: flex-start;
}

.blue-score{
  color: #0a76a7;
}

.player2-name{
  color:#e31e25;
  grid-column-start: 3;
  grid-column-end: 4
  ;
  grid-row-start: 1;
  grid-row-end: 2;
}
.red-score{
  color: #e31e25;
}



.header-buttons{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 20%;
  
}

.start-button-hidden {
  
  display: none;
}

.hide-result {
  display: none;
}

.display-result {
  display: block;
}



#myplayer-wrapper{
  grid-column-start: 1;
  grid-column-end: 2
  ;
  grid-row-start: 2;
  grid-row-end: 3
  ;
}

#otherPlayer-wrapper{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3
  ;
}

.display-controls{
  grid-column-start: 2;
  grid-row-start: 3;
  font-family: "Permanent Marker";
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}



#bluePlayer-avatar{
  width: 60%;
}


#redPlayer-avatar {
  width: 60%;
}

.bomb-image {
  
  width: 50px;
}

.ruby-image {
  width: 50px;
}

.players-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-info {
  font-family: "Permanent Marker";
  display: flex;
  align-items: center;
  justify-content: center;

}

.bomb-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Permanent Marker";
}

.time-left{
  font-family: "Permanent Marker";
}

.avatar-item-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



#items-dug {
  background-color:beige;
  height: 60px;
  height: 100px;
  width: 100px;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#item-dug {
  background-color: beige;
  height: 60px;
  width: 60px;

}

#ruby-dug{
background-image: url("../img/R2.png");
background-repeat: no-repeat;
background-size: cover;
height: 60px;
  width: 60px;
}

#blueruby-dug {
  background-image: url("../img/Br2.png");
  background-repeat: no-repeat;
background-size: cover;
  height: 60px;
  width: 60px;
}

#goldruby-dug {
  background-image: url("../img/Gr2.png");
  background-repeat: no-repeat;
background-size: cover;
  height: 60px;
  width: 60px;
}

#bomb-dug{
  background-image: url("../img/bomb2.png");
  background-repeat: no-repeat;
background-size: cover;
  height: 60px;
  width: 60px;
}