.index-wrapper {
    background-image: url("../img/desert-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  align-items: center;
  }
  
.index-title{
  text-decoration: none;
  font-size: 4em;
  font-family: "Cartoon";
  color: #c46330;
}

.index-titles{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

  .index-header{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;

  }

  .index-header-images{
    display: flex;
    
    width: 50px;
  }
  
  .image-title {
    max-width: 60%;
  }

  .index-grid1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
   justify-self: center;
    
  }

  .index-grid3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;

  }
  .index-grid2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

  }

  .signin-signup{
    display: flex;
    justify-content: space-evenly;
  }