.signup-wrapper {
    background-image: url("../img/desert-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
}

.signup-form {
    background-color:beige;
    border: 2px solid;
height: fit-content;
display: flex;
justify-content: center;
flex-direction: column;
    
}

